/* ==================================================================
FOOTER
================================================================== */
.footer
{
    background-color: @white;
    // min-height: 142px;


    // background-color: #000;
    // background-image: url(../img/tmp_footer.jpg);
    // background-repeat: no-repeat;
    // background-position: center top;

    text-align: center;

    ul
    {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
        li
        {
            display: inline-block;
            width: 15%;
            line-height: 142px;
        }
    }
}