/* ==================================================================
HEADER
================================================================== */
#header
{
    position: relative;
    min-height: 100vh;

    @media (max-width: 768px)
    {
        background-repeat: no-repeat;
        background-image: url(../img/back_mob_header.jpg);
        background-size: cover;
        background-position: center;
    }

    .play_mobile
    {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -116px;
        margin-left: -116px;

        width: 233px;
        height: 233px;
        display: none;
        @media (max-width: 768px)
        {
            display: block;
        }
    }
    .navbar-brand
    {
        position: absolute;
        left: 0;
        top: 55px;

        padding: 0;
        display: block;

        @media (max-width: 768px)
        {
            width: 100%;
            text-align: center;

            background-color: #383a3c;

            top: 0;

            img
            {
                display: inline-block;
                height: 100%;
            }
        }

    }

    .btn-cadastro
    {
        position: absolute;
        bottom: 25px;
        left: 50%;
        margin-left: -180px;

        width: 360px;
    }
}
