/* ==================================================================
FORM
================================================================== */
.placeholder(@color) {

    &::-webkit-input-placeholder {
        color: @color;
    }
    &:-moz-placeholder {
        color: @color;
    }
    &::-moz-placeholder {
        color: @color;
    }
    &:-ms-input-placeholder {
        color: @color;
    }
}

.form-control
{
    box-shadow: none;
    border-width: 0 0 2px 0;
    border-color: #e5e5e5;
    border-radius: 0;

    padding-left: 5px;
    padding-right: 5px;

    font-size: 1.5em;
    background-color: transparent;

    height: 40px;
    line-height: 40px;

    .fw-semi-bold;
    color: #292929;
    letter-spacing: 0.046em;

    &:focus
    {
        box-shadow: none;
        border-color: #292929;
    }

    .placeholder(#292929);
}

textarea.form-control
{
    height: 40px;
    line-height: 27px;

    &:focus
    {
        height: 120px;
    }
}

.is-completed
{
    textarea.form-control
    {
        height: 120px;
    }
}

label.error {
    bottom: 10px;
    color: @brand-primary;
    left: 20px;
    position: absolute;
}

.alert
{
    background-color: #FCF8E3;
    border: 1px solid #FBEED5;
    border-radius: 4px 4px 4px 4px;
    padding: 0 0 0 50px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    height: 50px;
    line-height: 50px;


    &.info
    {
        display: none;
        background-color: #D9EDF7;
        border-color: #BCE8F1;
        color: #3A87AD;
    }
    &.success
    {
        background-color: #DFF0D8;
        border-color: #D6E9C6;
        color: #468847;
    }
    &.error
    {
        background-color: #F2DEDE;
        border-color: #EED3D7;
        color: #B94A48;
    }

    .close
    {
        cursor: pointer;
        background: none;
        border: medium none;
        color: #000000;
        float: right;
        font-size: 20px;
        font-weight: bold;
        height: 50px;
        width: 50px;
        line-height: 56px;
        padding: 0 20px;
        opacity: 0.2;
        position: relative;
        right: 0;
        text-shadow: 0 1px 0 #FFFFFF;
        top: -2px;
    }
}